body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;

}
.heading{
    color:orangered;
    text-transform: capitalize;
}
h1{
    font-size:50px;
}
.flexbale-contanier{
    display: flex;
    margin-bottom: 120px;
}
.top-banner{
    
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width h3{
    text-transform: capitalize;
    font-size: 25px;
}
.half-width img{
    width:80%;
}
.half-width p{
    font-size:22px;
    line-height: 1.6;
}
.link-button{
    text-transform:uppercase;
    text-decoration: none;
    padding: 10px 40px;
   background-image: linear-gradient(orange,rgb(236, 47, 13)); 
   color:white;
   font-weight: 400;   
   border-radius: 10px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    font-size: 35px;
}
.experience-aera{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exprienc-tiem{
    width:40%;
   margin-left: 5%;
   margin-right: 5%;
   padding:20px;
   box-shadow: 10px 10px 40px gray;
   border-radius: 10px;
   
}
.exprienc-tiem p{
    font-size: 22px;
    line-height: 1.4;
}
.exprienc-tiem{
    font-size: 23px;
}
#web-dev{
    border-left: 5px solid;
    border-image:linear-gradient(rgb(128, 51, 0),rgb(195, 0, 255));
    border-image-slice: 1;
}
#web-dev2{
    border-left: 5px solid;
    border-image:linear-gradient(rgb(0, 113, 128),rgb(255, 0, 0));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    background-color:rgb(51, 106, 207);
    color:white;
    padding:10px 0;
    font-size: 22px;
}